*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
package-lock.json
report.xml
!requirements.txt
build.sh
draft-wendt-stir-vesper-oob.xml
draft-wendt-stir-vesper-oob.txt
draft-wendt-stir-vesper-oob.code*
draft-wendt-stir-vesper-oob-0*
draft-wendt-stir-vesper-oob-1*
draft-wendt-stir-vesper-oob-2*
